* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

body {
    background: url('assets/coolbg.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Keyframes for fadeInUp Effect */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Keyframes for shadowPulse Effect */
@keyframes shadowPulse {
    0%, 100% {
        text-shadow: 0 0 05px #ffffff;
    }
    50% {
        text-shadow: 0 0 10px #ffffff;
    }
}

.login-container {
    top: 0px;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(5, 4, 4, 0.5);
    z-index: 10; /* Ensure it stays on top of the background */
    animation: fadeInUp 1s ease-out, shadowPulse 3s infinite; /* Animation */
    padding: 20px;


}
.login-portal{
    height: 100%;
    width: 35%;
    padding: 40px;
    border-radius: 15px;
    border: 2px solid white;
}
  .login-form h1 {
    margin-top: 30px;
    margin-left: 95px;
    padding-bottom: 60px;
    color: #ffffff;
    text-shadow: 0 10px 20px rgba(5, 4, 4, 0.8);
}

.input-box {
    position: relative;
    margin-bottom: 40px;
    text-align: left;
    padding: 7px;
    
}

.input-box input {
    width: 100%;
    padding: 10px;
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    outline: none;
    color: #000000;
    font-size: 15px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 10px 20px rgba(5, 4, 4, 0.2);
    border: 1px solid white;
}

.input-box input::placeholder {
    color: #000000;
}



.buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttons button {
    width: 40%;
    height: auto;
    background: rgba(0, 0, 0, 0.6); 
    color: #f5f4f4;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 13px;
    margin-left: 29%;
    margin-bottom: 35px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 10px 20px rgba(5, 4, 4, 0.3);
}

.buttons button:hover {
    background-color: #ffffff;
    color: #000000;
}

.login-con {
    height: 100%;
    width: 65%;
    margin-left: 410px;
    margin-top: -485px;
    border: 2px solid white;
    
    border-radius: 15px;
}

.login-con img{
    height: 100%;
    width: 100%;
    opacity: 40%;
}

.login-logo{
    height: 100%;
    width: 65%;
    margin-left: 410px;
    margin-top: -485px;
    border: 2px solid white;
    
    border-radius: 15px;
}

.login-logo h1{
    font-size: 57px;
    z-index: 20;
}

